#final-rsvp {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/img/countryside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 4rem);
}

@media(max-width: 768px) {
    #final-rsvp {
        min-height: calc(100vh - 3rem);
    }
}

#final-rsvp .card {
    display: flex;
    transition: transform 2s;
}
#final-rsvp .card.flipped {
    transform: translateX(-25%);
}

.page-wrapper {
    display: flex;
    position: relative;
    font-size: 14px;
    perspective: 200vh;
}

.page-wrapper:first-child {
    z-index: 100;
}

#final-rsvp .card .page{
    position: relative;
    width: 500px;
    background-image: url('/img/paper.png');
    background-repeat: repeat;

    transition: transform 2s;
    transform-style: preserve-3d;
    transform-origin: 100% 0%;
}

.page-wrapper.flipped .page {
    transform: rotateY(180deg);
}

#final-rsvp .card .page::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
}

.page1 {
    position: relative;
    z-index: 100;
}

.page2 {
    position: relative;
    z-index: 1;
}

.page1-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: hidden;
}

.page1-back h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    margin-top: 60%;
}
.page1-back img {
    display: block;
    margin: 20% auto 0 auto;
    width: 25px;
}
.page1-back .eventInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.page1-back .eventInfo button {
    margin-top: 1rem;
}

.page1-front{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0) 90%, rgba(47, 47, 47, 0.12));
    backface-visibility: hidden;
    transform:  translateZ(1px);
}

.page1-frame {
    display: flex;
    flex-flow: column;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1.5px solid #fdc655;
}

.page1-front .invited {
    margin-top: 4rem;
}
.page1-front .katandberti {
    display: flex;
    flex-flow: column;
    margin-top: 2rem;
    font-size: 20px;
    letter-spacing: 1.1px;
}
.page1-front .katandberti .ampersand{
    font-family: 'Amatic SC';
    font-size: 48px;
}

.page1-front .timeandplace {
    margin-top: 2rem;
    line-height: 1.5;
}

.page1-front .rings img {
    width: 43px;
    margin: 2rem;
}

.page1-front .agenda {
    display: flex;
    flex-flow: column;
}

.page1-front .footer {
    display: flex;
    flex-flow: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.page2 {
    padding-top: 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page2::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, rgba(223, 223, 223, 0), rgba(227, 227, 227, 0) 92%, rgba(108, 108, 108, 0.06));
}

.page2 h1 {
    font-size: 20px;
    margin-bottom: 0;
}

.page2 h2 {
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid #fdc655;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
}

.page2 .joinus {
    margin-bottom: 1rem;
}

.page2 input {
    text-align: center;
    background: none;
    border: 1px solid #97979740;
    background-color: #D8D8D830;
    width: 80%;
    height: 20px;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
    font-weight: normal;
    font-family: 'Maven Pro', sans-serif;
    outline: none;
    transition: all 400ms ease-in-out;
}

.page2 input::placeholder { 
    color: rgb(133, 133, 133); 
}

.page2 .attendance {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.page2 .attendance .numberSelector {
    margin-top: 0.8rem;
}

.numberSelector {
    margin-bottom: 1rem;
}

.page2 .disco {
    margin-bottom: 0.5rem;
}

.page2 .diet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2 .diet h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.page2 .diet input {
    margin:  0.5rem 0;
}

.page2 button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.page2 select {
    margin-left: 1rem;
    color: #3c3b3b;
    height: 35px;
    padding: 5px 20px 5px 5px;
    font-size: inherit;
    border: 1px solid #97979740;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    background: url('/img/triangle.png') 80% 15px  no-repeat #D8D8D830;
  }
  
.page2 select:focus, input:focus { 
    box-shadow: 0 0 2px 1px #fdc655;
}
  
/* CAUTION: IE hackery ahead */
.page2 select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .page2 select {
        background:none\9;
        padding: 5px\9;
    }
}