.row {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button-group .button-col:first-of-type button {
    float: right;
}

.button-col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem 1rem;
}

@media(min-width: 768px) {
    .button-group button {
        max-width: 20rem;
    }
}

#comment-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

@media(min-width: 768px) {
    #comment-box {
        width: 50%;
    }
}

#comment-box textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    resize: vertical;
    font-family: 'Maven Pro';
    font-size: 1rem;
}

#comment-box button {
    float: right;
}

.comment-btn {
    width: 100%;
    margin-top: 0.5rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}