#magnolias {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

#magnolias img {
    display: flex;
    width: 50%;
}

#magnolias p {
    display: inline-block;
    margin-left: 5rem;
}
@media(max-width: 768px) {
    #magnolias img {
        width: 100%;
    }
    #magnolias p {
        margin-left: 0;
    }
}