.story-image {
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width:768px) {
    .story-image {
        width: 100%;
    }
}
.img-caption {
    color: white;
    padding: 0.5rem;
    background: linear-gradient(to bottom, #444 0%,#333 100%);
    border-radius: 10px 10px 0 0;
}
.img-story {
    color: white;
    padding: 0.5rem;
    background: linear-gradient(to bottom, #444 0%,#333 100%);
    border-radius: 0 0 10px 10px
}

.story-image-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.2s ease-in;
}

/* .slick-center .story-image-overlay:hover {
    cursor: pointer;
    opacity: 1
} */

@media(max-width:768px) {
    .story-image-overlay {
        display: none;
    }
}

.overlay-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0.4;
}

.story-image-overlay span {
    color: white;
    font-size: 3rem;
    z-index: 999;
}

.story-image {
    transition: all 300ms ease;
    opacity: 0.7;
}

.slick-center .story-image {
    opacity: 1;
}

.slick-slide {
    position: relative;
    z-index: 6;
}
.slick-center {
    z-index: 10;
}
.slick-center + .slick-slide {
    z-index: 6;
}