.radioButton {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
    cursor: pointer;
}

.radioButton label {
    margin-left: 10px;
    cursor: inherit;
}

.radioButtonOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #979797;
    margin-top: 1px;
}

.radioButtonInner {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #6e6b6b;
}